body {
  margin: 0;
  padding: 0;
}

#wrapper {
  box-sizing: border-box;
  padding: 20px;
}

#layout {
  box-sizing: border-box;
  width: 100%;

  /*  */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  grid-auto-rows: 10px;
  row-gap: 10px;
}

.item {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 5px 0;
  padding: 10px;
  background-color: lightblue;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  margin: 0;
  font-size: 50px;
  color: #fff;
}

.label {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.theme {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.floating {
  position: absolute;
  z-index: 1000;
  height: auto;
  transition: all 0.6s ease;
}

@media (max-width: 500px) {
  #layout {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 501px) and (max-width: 800px) {
  #layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 801px) and (max-width: 1100px) {
  #layout {
    grid-template-columns: repeat(3, 1fr);
  }
}
